AI News.json
{
  "name": "AI News",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "4c58d2c4-40d9-4907-8082-988f27745641",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        -48
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        -80
      ],
      "id": "2ea85466-5476-4fc6-93ae-df6cfdc55912",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6420a52f-e221-492b-b91f-a5429630e021",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $now.minus({ hours: 24 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "077dfa70-9388-467b-854a-e119524dd026",
      "name": "<24h?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        160,
        -48
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1184,
        -48
      ],
      "id": "441708a2-4631-478b-a0a3-76d0fe4a83ba",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "test@gmail.com",
        "subject": "Täglicher Newsletter",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1776,
        -48
      ],
      "id": "fbebc85a-a39e-4410-9f17-8bbe753831b2",
      "name": "Send a message",
      "webhookId": "5d6ca6b9-cde2-4597-ad5e-8addd6c1cb8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ceYzq8EiQ0qbVE0j",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Das sind die Neuigkeiten:\n{{ JSON.stringify($json.data) }}",
        "options": {
          "systemMessage": "=Rolle:\nDu bist Chef-Redakteur eines täglichen KI-Nachrichten-Newsletters. Du erhältst ein JSON-Array mit KI-Neuigkeiten und erstellst daraus eine kompakte, hochwertige E-Mail-Zusammenfassung.\n\nZiel:\nErstelle eine gut strukturierte, leicht scanbare HTML-E-Mail. Die wichtigsten Meldungen sollen klar erkennbar ganz oben stehen. Weitere relevante Meldungen folgen in Tabellen oder Listen, sodass der Leser die Inhalte schnell erfassen kann, ohne lange Fließtexte lesen zu müssen.\n\nAnforderungen:\n- Gliedere die E-Mail klar nach Relevanz:\n  1. **Top-Themen**: 3-5 Wichtigste Meldungen im Kachel- oder Card-Format \n  2. **Weitere wichtige Meldungen**: kompakt in einer klar formatierten Tabelle oder übersichtlichen Liste mit Spalten wie Kategorie, Headline, Info.\n- Immer 2-3 Sätze pro Neuigkeit, so wie sie im RSS Content steht. Füge Links zum Artikel hinzu wenn sinnvoll.\n- Neutraler, sachlicher Ton. Keine Spekulation.\n- Keine Gedankenstriche verwenden.\n- HTML klar strukturiert mit Inline-CSS, mobilfreundlich, maximale Breite 700px.\n- Verwende einfache, saubere Gestaltungselemente (z. B. Tabellen, Listen, Cards), kein komplexes Styling.\n- Gib ausschließlich validen HTML-Code zurück, ohne Markdown oder erklärende Texte.\n\n# Ausgabe:\nAntworte lediglich mit dem Emailtext im HTML Format (ohne Betreff)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1424,
        -48
      ],
      "id": "4decf2af-b42b-4eec-b312-b8c0bde31848",
      "name": "Redakteur"
    },
    {
      "parameters": {
        "url": "https://openai.com/news/rss.xml",
        "options": {}
      },
      "id": "97fe72f3-575f-4d04-8017-12c080b498da",
      "name": "OpenAI Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -288,
        -336
      ]
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/topnews.rss",
        "options": {}
      },
      "id": "ffad1718-a283-4e9a-9364-a641eb07619c",
      "name": "MIT Technology Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -288,
        48
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "id": "423a1944-b3e1-4ccf-a843-901fc87f2ac4",
      "name": "Techcrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -288,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://blog.google/technology/ai/rss/",
        "options": {}
      },
      "id": "9aa1b01e-4bee-46fd-9d3c-03eae9f44fc0",
      "name": "Google AI Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -288,
        -144
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"aiRelated\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        496,
        176
      ],
      "id": "ad4d7533-a7d8-4108-8baa-b47f896d9ef6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6420a52f-e221-492b-b91f-a5429630e021",
              "leftValue": "={{ $json.output.aiRelated }}",
              "rightValue": "={{ $now.minus({ hours: 24 }) }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4bf16b6e-3ab4-4fb5-bb83-a1e77975dad4",
      "name": "AI related?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        704,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7716a7d2-ed2c-482e-922b-4bd704dea152",
              "name": "title",
              "value": "={{ $('<24h?').item.json.title }}",
              "type": "string"
            },
            {
              "id": "522422b0-554f-42d5-b583-1a2a9d7e9403",
              "name": "content",
              "value": "={{ $('<24h?').item.json.content }}",
              "type": "string"
            },
            {
              "id": "3d1b2632-b03c-48be-aa93-9a582a7424c2",
              "name": "link",
              "value": "={{ $('<24h?').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -48
      ],
      "id": "59df4359-88f7-4927-9356-a4bcd0c860fa",
      "name": "Set News"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Das sind die Neuigkeiten:\n\nTitel: {{ $json.title }}\n\nContent:\n{{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Aufgabe:\nPrüfe, ob die folgende Neuigkeit einen Bezug zu Künstlicher Intelligenz (KI / AI) hat. Beziehe dabei Themen wie KI-Technologien, Anwendungen, Regulierung, Forschung, Unternehmen oder gesellschaftliche Auswirkungen ein. Wenn kein klarer Bezug vorhanden ist, antworte mit false.\n\n# Ausgabe:\nGib ausschließlich den booleschen Wert aus:\n- true = die Neuigkeit hat einen klaren Bezug zu Künstlicher Intelligenz\n- false = kein Bezug zu Künstlicher Intelligenz\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        384,
        -48
      ],
      "id": "e8e656e8-ab35-46b2-9bc9-8b80d5a261f0",
      "name": "Qualifizierer"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        336,
        176
      ],
      "id": "863036a7-ed23-4b21-90a3-a994f8a9c6fc",
      "name": "gpt-5-nano",
      "credentials": {
        "openRouterApi": {
          "id": "cSvFcmdCDXXggSmC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1408,
        144
      ],
      "id": "9d63db5d-90d9-4205-805b-49276c11b21e",
      "name": "gpt-5",
      "credentials": {
        "openRouterApi": {
          "id": "cSvFcmdCDXXggSmC",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Techcrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "MIT Technology Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google AI Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "<24h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "<24h?": {
      "main": [
        [
          {
            "node": "Qualifizierer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Redakteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redakteur": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Blog": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIT Technology Review": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Techcrunch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google AI Blog": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Qualifizierer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI related?": {
      "main": [
        [
          {
            "node": "Set News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set News": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualifizierer": {
      "main": [
        [
          {
            "node": "AI related?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-5-nano": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Qualifizierer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-5": {
      "ai_languageModel": [
        [
          {
            "node": "Redakteur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9284f2c8-f0aa-412a-8701-3b1185c0f6bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5fd0baa0c603971520850c1a8c539c9c9878faf8dbb5d0a5ac45a5938a7aabd"
  },
  "id": "wpU8ndSamkqQ0RH7",
  "tags": []
}