Nachrichtenextraktor.json
{
  "name": "Nachrichtenextraktor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "358254f6-1d6f-4157-a6df-a789cb70d893",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -64
      ]
    },
    {
      "parameters": {
        "url": "https://www.deutschlandfunk.de/die-nachrichten.353.de.rss",
        "options": {}
      },
      "id": "5163f81c-ee9c-4526-aa22-cb5e51d17d2c",
      "name": "Deutschlandfunk",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -224,
        -160
      ]
    },
    {
      "parameters": {
        "url": "https://correctiv.org/feed/",
        "options": {}
      },
      "id": "d3ec7752-f9af-4640-87a3-99708eeeb0e3",
      "name": "Correctiv",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -224,
        224
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        -96
      ],
      "id": "3eb0f822-a139-4f40-b76a-0c2cf352f5bb",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.tagesschau.de/xml/rss2/",
        "options": {}
      },
      "id": "52c24f4d-7168-46e7-8336-fb05f28848f5",
      "name": "Tagesschau / ARD",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -224,
        -352
      ]
    },
    {
      "parameters": {
        "url": "https://www.zdf.de/rss/zdf/nachrichten",
        "options": {}
      },
      "id": "00e3bd35-1292-4e93-adc8-9a849152078f",
      "name": "ZDF",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -224,
        32
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"significant\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        144
      ],
      "id": "c7a70a5f-8766-4869-9a8a-cd9843ff049f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6420a52f-e221-492b-b91f-a5429630e021",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $now.minus({ hours: 24 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84cd4790-0272-4c62-a068-9ef6cc40b267",
      "name": "<24h?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        -64
      ],
      "id": "78c906c3-e96d-4640-af43-cb4c01c6fc1f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "deineemail@test.com",
        "subject": "Täglicher Newsletter",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1664,
        -64
      ],
      "id": "0f78c39c-7a16-492c-95f7-1bac78bdf303",
      "name": "Send a message",
      "webhookId": "8febfbb9-aeda-45c3-b933-37a4bd4e75fc",
      "credentials": {
        "gmailOAuth2": {
          "id": "ceYzq8EiQ0qbVE0j",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Das sind die Neuigkeiten:\n{{ JSON.stringify($json.data) }}",
        "options": {
          "systemMessage": "=Rolle:\nDu bist Chef-Redakteur eines täglichen Nachrichten-Newsletters. Du erhältst ein JSON-Array mit Neuigkeiten und erstellst daraus eine kompakte, hochwertige E-Mail-Zusammenfassung.\n\nZiel:\nErstelle eine gut strukturierte, leicht scanbare HTML-E-Mail. Die wichtigsten Meldungen sollen klar erkennbar ganz oben stehen. Weitere relevante Meldungen folgen in Tabellen oder Listen, sodass der Leser die Inhalte schnell erfassen kann, ohne lange Fließtexte lesen zu müssen.\n\nAnforderungen:\n- Gliedere die E-Mail klar nach Relevanz:\n  1. **Top-Themen**: 3-5 Wichtigste Meldungen im Kachel- oder Card-Format \n  2. **Weitere wichtige Meldungen**: kompakt in einer klar formatierten Tabelle oder übersichtlichen Liste mit Spalten wie Kategorie, Headline, Info.\n- Immer 2-3 Sätze pro Neuigkeit, so wie sie im RSS Content steht.\n- Neutraler, sachlicher Ton. Keine Spekulation.\n- Keine Gedankenstriche verwenden.\n- HTML klar strukturiert mit Inline-CSS, mobilfreundlich, maximale Breite 700px.\n- Verwende einfache, saubere Gestaltungselemente (z. B. Tabellen, Listen, Cards), kein komplexes Styling.\n- Gib ausschließlich validen HTML-Code zurück, ohne Markdown oder erklärende Texte.\n\n# Ausgabe:\nAntworte lediglich mit dem Emailtext im HTML Format (ohne Betreff)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1360,
        -64
      ],
      "id": "c267437e-5d4e-4249-8097-aebdefc7b7ca",
      "name": "Redakteur"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Das sind die Neuigkeiten:\n\nTitel: {{ $json.title }}\n\nContent:\n{{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Aufgabe:\nBewerte die folgende Nachrichtenmeldung aus einem RSS-Feed nach ihrer Signifikanz. Entscheide, ob sie für eine tägliche Zusammenfassung wichtiger Nachrichten aufgenommen werden soll.\n\n## Definition von signifikant:\n- Hoher gesellschaftlicher Impact in Deutschland, der EU oder global, z. B. neue Gesetze, Regierungsentscheidungen, Wahlen, sicherheitsrelevante Ereignisse, Urteile mit Präzedenzwirkung, größere Wirtschaftsereignisse mit realen Folgen für viele Menschen, relevante Forschungsergebnisse oder Technologie-Durchbrüche mit absehbarer Wirkung, Naturkatastrophen, Krisen, große Unternehmensentscheidungen mit Arbeitsmarktwirkung, bedeutende internationale Konfliktentwicklungen.\n- Neuigkeit ist neu oder eine markante Eskalation eines bestehenden Themas.\n- Kein Fokus auf Kleinstmeldungen, Promi-Klatsch, kleine Sportmeldungen, kurzlebige Produktankündigungen, marginale Kursbewegungen ohne strukturelle Bedeutung, lokale Randereignisse ohne breitere Relevanz.\n\n## Ausgabe:\nDu antworest nur mit dem boolischen Ausdruck \"true\" oder \"false\". true = signifikant, false = nicht signifikant.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        432,
        -64
      ],
      "id": "34129ec1-6a4d-4f55-9f9b-bc74537eee4b",
      "name": "Qualifizierer"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        160
      ],
      "id": "235cf56c-58c5-4bd1-a8f6-39df8567295b",
      "name": "gpt-5-nano",
      "credentials": {
        "openRouterApi": {
          "id": "cSvFcmdCDXXggSmC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1344,
        128
      ],
      "id": "578063d2-7440-4501-adb7-ad634ba6373e",
      "name": "gpt-5",
      "credentials": {
        "openRouterApi": {
          "id": "cSvFcmdCDXXggSmC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7716a7d2-ed2c-482e-922b-4bd704dea152",
              "name": "title",
              "value": "={{ $('<24h?').item.json.title }}",
              "type": "string"
            },
            {
              "id": "522422b0-554f-42d5-b583-1a2a9d7e9403",
              "name": "content",
              "value": "={{ $('<24h?').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -64
      ],
      "id": "2a68bc3a-5156-4055-973b-9ada4696e4bc",
      "name": "Set News"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6420a52f-e221-492b-b91f-a5429630e021",
              "leftValue": "={{ $json.output.significant }}",
              "rightValue": "={{ $now.minus({ hours: 24 }) }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b85aa6d2-b497-418e-afc9-960e4605fbcc",
      "name": "Significant?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        752,
        -64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Tagesschau / ARD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deutschlandfunk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Correctiv",
            "type": "main",
            "index": 0
          },
          {
            "node": "ZDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deutschlandfunk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Correctiv": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "<24h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tagesschau / ARD": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZDF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Qualifizierer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "<24h?": {
      "main": [
        [
          {
            "node": "Qualifizierer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Redakteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redakteur": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualifizierer": {
      "main": [
        [
          {
            "node": "Significant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-5-nano": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Qualifizierer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-5": {
      "ai_languageModel": [
        [
          {
            "node": "Redakteur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set News": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Significant?": {
      "main": [
        [
          {
            "node": "Set News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19fae6d0-882d-4587-89e9-828b30d7a72d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5fd0baa0c603971520850c1a8c539c9c9878faf8dbb5d0a5ac45a5938a7aabd"
  },
  "id": "oT2lu9gjKcsw8Jym",
  "tags": []
}